@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #76b852;
  font-family: "Roboto", sans-serif;
}

.form {
  text-align: center;
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

textarea {
  border: none;
  resize: none;
  outline: none;
}




